In [18]:
import geopandas as gpd

In [19]:
sentinel_tiles = gpd.read_file("sentinel/sentinel2_tiles_world.geojson")
sentinel_tiles

        Name                                           geometry
0      01CCV  POLYGON Z ((180.00000 -73.05974 0.00000, 176.8...
1      01CCV  POLYGON Z ((-180.00000 -72.07333 0.00000, -179...
2      01CDH  POLYGON Z ((180.00000 -83.80855 0.00000, 174.7...
3      01CDH  POLYGON Z ((-180.00000 -82.82590 0.00000, -176...
4      01CDJ  POLYGON Z ((180.00000 -82.91344 0.00000, 175.7...
...      ...                                                ...
56979  60XWP  POLYGON Z ((-180.00000 80.13994 0.00000, -177....
56980  60XWQ  POLYGON Z ((180.00000 80.05179 0.00000, 176.99...
56981  60XWQ  POLYGON Z ((-180.00000 81.03542 0.00000, -176....
56982  60XWR  POLYGON Z ((180.00000 80.94781 0.00000, 176.99...
56983  60XWR  POLYGON Z ((-180.00000 81.93139 0.00000, -176....

[56984 rows x 2 columns]

In [20]:
land = gpd.read_file("/Users/halverso/Downloads/sentinel2_tiles_land.geojson")
land

        Name                                           geometry
0      01CEH  POLYGON ((-177.00144 -82.85238, -169.14642 -82...
1      01CEJ  POLYGON ((-177.00128 -81.95638, -170.00719 -81...
2      01FBE  POLYGON ((180.00000 -50.59941, 178.76332 -50.5...
3      01FBF  POLYGON ((180.00000 -49.70001, 178.84184 -49.6...
4      01GBH  POLYGON ((180.00000 -47.89995, 178.98771 -47.8...
...      ...                                                ...
20438  60WWE  POLYGON ((-180.00000 72.07506, -179.80314 72.0...
20439  60WWS  POLYGON ((176.99958 64.92414, 179.32025 64.906...
20440  60WWT  POLYGON ((176.99956 65.82155, 179.40072 65.802...
20441  60WWU  POLYGON ((176.99955 66.71886, 179.48759 66.699...
20442  60WWV  POLYGON ((176.99953 67.61553, 179.58159 67.595...

[20443 rows x 2 columns]

In [22]:
sentinel_tiles["Land"] = sentinel_tiles["Name"].apply(lambda tile_name: tile_name in land_names)
sentinel_tiles[["Name", "Land", "geometry"]]
sentinel_tiles

        Name                                           geometry   Land
0      01CCV  POLYGON Z ((180.00000 -73.05974 0.00000, 176.8...  False
1      01CCV  POLYGON Z ((-180.00000 -72.07333 0.00000, -179...  False
2      01CDH  POLYGON Z ((180.00000 -83.80855 0.00000, 174.7...  False
3      01CDH  POLYGON Z ((-180.00000 -82.82590 0.00000, -176...  False
4      01CDJ  POLYGON Z ((180.00000 -82.91344 0.00000, 175.7...  False
...      ...                                                ...    ...
56979  60XWP  POLYGON Z ((-180.00000 80.13994 0.00000, -177....  False
56980  60XWQ  POLYGON Z ((180.00000 80.05179 0.00000, 176.99...  False
56981  60XWQ  POLYGON Z ((-180.00000 81.03542 0.00000, -176....  False
56982  60XWR  POLYGON Z ((180.00000 80.94781 0.00000, 176.99...  False
56983  60XWR  POLYGON Z ((-180.00000 81.93139 0.00000, -176....  False

[56984 rows x 3 columns]

In [11]:
sentinel_tiles.to_file("sentinel/sentinel2_tiles_world_with_land.geojson")

/Users/halverso/anaconda3/envs/ECOSTRESS/lib/python3.9/site-packages/geopandas/io/file.py:362: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,

In [23]:
sentinel_tiles[sentinel_tiles.Land.apply(lambda name: name == "10SDE")]

Empty GeoDataFrame
Columns: [Name, geometry, Land]
Index: []

In [26]:
sentinel_tiles[sentinel_tiles.Name.apply(lambda name: name == "10SDE")]

       Name                                           geometry   Land
9541  10SDE  POLYGON Z ((-124.11193 36.13974 0.00000, -122....  False

In [27]:
sentinel_tiles[sentinel_tiles.Name.apply(lambda name: name == "11SPS")]

        Name                                           geometry  Land
10505  11SPS  POLYGON Z ((-115.92423 33.43491 0.00000, -114....  True

In [31]:
sentinel_tiles[sentinel_tiles["Name"].apply(lambda name: name == "10SDE")]["Land"].iloc[0]

False